@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 3.9%;

    --background-x: hsla(0, 0%, 98%, 1);
    --foreground-x: hsla(0, 0%, 3.9%, 1);

    --selection-bg: hsla(0, 0%, 98%, 0.25);

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 60.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
    --border-x: hsla(0, 0%, 0%, 0.05);
    --theme-x: hsl(264, 76%, 50%);

    --super-invert: invert(1);

    --ease-x: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --background-x: hsla(0, 0%, 3.9%, 1);
    --foreground-x: hsla(0, 0%, 98%, 1);

    --card: 0 0% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --border-x: hsla(0, 0%, 100%, 0.05);
    --theme-x: hsl(264, 76%, 50%);

    --super-invert: invert(0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    width: 12px;
    background: var(--background-x);
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px 50px transparent;
    border: solid 3px transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 999px;
    box-shadow: inset 0 0 50px 50px hsla(0, 0%, 100%, 0.1);
    border: solid 3px transparent;
  }
}

* {
  font-weight: 450;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::selection {
    /* background-color: var(--theme-x); */
    background-color: var(--selection-bg);
  }
}

body {
  --dot-color: rgba(255, 255, 255, 0.1);
  --dot-size: 1px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--background-x) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--background-x) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.nav-m {
  margin-inline: auto;
  width: 10vw;
}

.nav-links a {
  font-weight: 510;
  transition: color 0.24s var(--ease-x);
  &:hover {
    color: hsl(var(--primary));
  }
}

.hamburger-react div {
  border-radius: 10px;
}

.bg-texture {
  width: fit-content;
  &.texture-dark {
    opacity: 0.1;
    display: none;
  }
  &.texture-light {
    opacity: 0.2;
    display: block;
    position: absolute;
  }
}

.menu {
  top: -1.5rem;
  right: -20px;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  transition: height 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out;
  backdrop-filter: blur(50px);
}

.menu-text {
  opacity: 1;
  transition: opacity 1s ease-in-out 0.6s;
  font-weight: 700;
  font-size: 28px;
}

.menu-text a {
  width: -webkit-fill-available;
  padding-left: 48px;
  font-weight: 600;
  height: 2.5rem;
  display: flex;
}

html.globalnav-noscroll,
html.globalnav-noscroll body {
  overflow: hidden !important;
  position: relative;
  height: 100% !important;
}
html.globalnav-noscroll {
  margin-top: 0 !important;
  overscroll-behavior: none;
}

@media (prefers-color-scheme: dark) {
  .bg-texture {
    width: fit-content;
    &.texture-dark {
      display: block;
      position: absolute;
    }
    &.texture-light {
      display: none;
      position: absolute;
    }
  }
}

.super-invert {
  filter: var(--super-invert);
}

.hero-text {
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.05em;
  line-height: 3.5vw;
  font-size: 4.2vw;
  width: 35vw;
}

@keyframes BlurAndMove {
  0% {
    filter: blur(10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-text {
  /* animation: BlurAndMove 1s ease 0.4s both; */
  opacity: 1; /* Make 0 */
}

@media (max-width: 800px) {
  .hero-text {
    text-align: center;
    letter-spacing: -0.05em;
    line-height: 10vw;
    font-size: 12.2vw;
    width: 90vw;
  }
}

.hero-label {
  scale: 0.8;
  font-size: 1em;
  margin: auto;
}

.site {
  aspect-ratio: 1.48 / 1;
  width: 1080px;
}

.site-h div img {
  width: auto;
  object-fit: cover;
  /* filter: invert(1);
  opacity: 0.05; */
}

.site-h {
  background-color: transparent;
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.05);
  }
}

@media (prefers-color-scheme: dark) {
  .site-h {
    background-color: transparent;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.01);
    }
  }
}

.under-shadow {
  box-shadow: 0 1px 0 0 hsl(0, 0%, 86%);
}

.under-shadow-destructive {
  box-shadow: 0 1px 0 0 hsl(0, 56%, 35%);
}

.main-border {
  border: 1px solid hsla(0, 0%, 0%, 0.05);
}

@media (prefers-color-scheme: dark) {
  .main-border {
    border: 1px solid hsla(0, 0%, 100%, 0.05);
  }
}

#radix-\:r2\: button {
  display: none;
}

#radix-\:R2oqcq\:,
#radix-\:r2\:,
#radix-\:r28\:,
#radix-\:Rmqcq\: {
  width: calc(100vw - 15%) !important;
  max-width: 500px;
}

#searchInput {
  border-radius: calc(1rem - 8px);
  &::placeholder {
    opacity: 0.5;
  }
}

@media (prefers-color-scheme: light) {
  #searchInput {
    color: #fafafa;
    &::placeholder {
      color: #fafafa;
    }
  }
  .lucide.lucide-x.h-4.w-4 {
    stroke: #fafafa;
  }
}

.search-con button {
  position: absolute;
  top: auto;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fill-social {
  fill: var(--foreground-x);
}

@media (prefers-color-scheme: dark) {
  .fill-social {
    filter: invert(1);
  }
}

.site-grid {
  display: grid;
  flex: none;
  gap: 0;
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
  padding-bottom: 5rem;
}

@media (max-width: 1280px) {
  .site-grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 780px) {
  .site-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 600px) {
  .site-grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.page-site {
  width: 40rem;
  height: auto;
}

div {
  &.footer-links a {
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    outline: 2px solid transparent;
    outline-offset: 2px;
    &:hover {
      opacity: 0.5;
      transition: opacity 600ms ease;
    }
  }
}

.footer-logo {
  width: clamp(10rem, 20rem, 15rem);
}

.description {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group:hover .description-tooltip {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.5s;
}

.group:hover .description-tooltip {
  opacity: 1;
}

.description-tooltip {
  pointer-events: none;
  border-radius: 14px;
  backdrop-filter: blur(2px);
  opacity: 0;
  position: absolute;
  z-index: 10;
  max-width: 300px; /* Adjust as needed */
  background-color: hsla(0, 0%, 98%, 0.9);
  color: white;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  .description-tooltip {
    color: white;
    background-color: hsla(0, 0%, 4%, 0.9);
  }
}

/* Movie */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Adjust this value to control the space between items */
}

@media (min-width: 640px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* Adjust this value to control the space between items */
  }
}

@media (min-width: 1040px) {
  .movie-grid {
    grid-template-columns: repeat(8, 1fr);
    gap: 10px; /* Adjust this value to control the space between items */
  }
}

.recommendation-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 640px) {
  .recommendation-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1040px) {
  .recommendation-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  width: fit-content;
}

@media (min-width: 640px) {
  .episodes-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    width: fit-content;
  }
}

.movie-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px; /* Adjust as needed */
}

.movie-card-image-main {
  aspect-ratio: 2/3;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.movie-card-image {
  aspect-ratio: 2/3;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  max-height: calc(100% - 42px);
}

.movie-card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  color: white;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s var(--ease-x);
}

.movie-card:hover .movie-card-info {
  opacity: 1;
}

.movie-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(2px);
  mask: linear-gradient(to top, transparent, black 35%);
  transition: mask 0.3s var(--ease-x);
}

.movie-card-title {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.movie-card-release {
  font-size: 0.75rem;
  opacity: 0.8;
  margin: 0;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

/* TV Shows */

.tvshow-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.tvshow-card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.tvshow-card:hover {
  transform: scale(1.05);
}

.tvshow-card-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tvshow-card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.tvshow-card:hover .tvshow-card-info {
  opacity: 1;
}

.tvshow-card-title {
  font-size: 1rem;
  font-weight: bold;
}

.tvshow-card-release {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.video-player {
  /* max-height: fit-content;
  max-width: 76rem; */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  &:-moz-focusring {
    outline: none !important;
  }
}

video {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

/* Apple Slider */

:root {
  --slider-track-color: hsla(0, 0%, 20%, 0.5);
  --slider-fill-color: hsla(
    0,
    0%,
    100%,
    0.8
  ); /* default green, change as needed */
  --slider-hover-color: rgba(255, 255, 255, 0.5);
  --slider-thumb-color: #ffffff; /* default green, change as needed */
  --volume-value: 80%; /* default volume value */
  --seek-value: 0%; /* default seek value */
}

.fitfit {
  width: -webkit-fill-available !important;
  height: -webkit-fill-available !important;
}

.overlay {
  /* height: calc(50% - 20%); */
  height: 100%;
  position: relative;
  bottom: calc(1000px * 0.562) !important;
}

.apple-slider {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    to right,
    var(--slider-fill-color) 0%,
    var(--slider-fill-color) var(--value),
    var(--slider-track-color) var(--value),
    var(--slider-track-color) 100%
  );
  border-radius: 0.5rem;
  outline: none;
  transition: backdrop-filter 0.5s 1s ease-in-out;
  transition: opacity 0.5s 1s ease-in-out;
  cursor: pointer;
}

.apple-slider:hover {
  opacity: 1;
  backdrop-filter: blur(10px);
}

.apple-slider::-webkit-slider-thumb {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 0.1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--slider-thumb-color);
  cursor: pointer;
  position: relative;
  z-index: 1; /* Ensure the thumb is above the track */
}

.apple-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--slider-thumb-color);
  cursor: pointer;
  position: relative;
  z-index: 1; /* Ensure the thumb is above the track */
}

.apple-slider::-ms-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--slider-thumb-color);
  cursor: pointer;
  position: relative;
  z-index: 1; /* Ensure the thumb is above the track */
}

.apple-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
}

.apple-slider::-moz-range-track {
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
}

.apple-slider::-ms-track {
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
  background: transparent; /* Needed to override the default styles */
  border-color: transparent;
  color: transparent;
}

.apple-slider::-ms-fill-lower {
  background: var(--slider-track-color);
  border-radius: 0.5rem;
}

.apple-slider::-ms-fill-upper {
  background: var(--slider-track-color);
  border-radius: 0.5rem;
}

.volume-slider {
  background: linear-gradient(
    to right,
    var(--slider-fill-color) 0%,
    var(--slider-fill-color) var(--volume-value),
    var(--slider-track-color) var(--volume-value),
    var(--slider-track-color) 100%
  );
}

.seek-slider {
  background: linear-gradient(
    to right,
    var(--slider-fill-color) 0%,
    var(--slider-fill-color) var(--seek-value),
    var(--slider-track-color) var(--seek-value),
    var(--slider-track-color) 100%
  );
}

/* End of Apple Slider */

.glow {
  filter: grayscale(1);
  text-shadow: 0 0 7px currentColor, 0 0 10px currentColor;
}

/* Overlay outline */

.overlay-outline-container {
  position: relative;
  display: inline-block;
}

.img-border {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  border: 2.5px solid rgba(255, 255, 255, 0.25);
  mix-blend-mode: overlay;
  transition: border 0.3s ease;
  scale: 0.995;
}

.overlay-outline-container:hover .img-border {
  border: 2px solid rgba(255, 255, 255, 0.75);
}

/* Continue Watching */
.continue-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; /* Adjust this value to control the space between items */
}

.continue-card {
  position: relative;
  overflow: hidden;
  border-radius: 16px; /* Adjust as needed */
}

.continue-card-image-main {
  aspect-ratio: 5/3;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.continue-card-image {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  max-height: calc(100% - 42px);
}

.continue-card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    hsla(227, 0%, 6%, 0) 0,
    hsla(227, 0%, 6%, 0.9) 100%
  );
  color: white;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.3s var(--ease-x);
}

/* .continue-card:hover .continue-card-info {
  opacity: 1;
} */

.continue-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(2px);
  mask: linear-gradient(to top, transparent, black 35%);
  transition: mask 0.3s var(--ease-x);
}

.continue-card-title {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.continue-card-release {
  font-size: 0.75rem;
  opacity: 0.8;
  margin: 0;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}
